{% extends "base.html" %}

{% block title %}{{ data.id }}{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 class="text-center">Sample # {{ data.id }}
        {% if data.target.is_completed %}
        <span class="badge badge-success">
            <i class="fas fa-check text-white"></i>
            Completed
        </span>
        {% elif (not data.target.is_completed and data.target.tokens and data.target.tokens|length > 0 )  %}
        <span class="badge badge-warning">
            <i class="fas fa-lightbulb"></i>
            Uncompleted
        </span>
        {% else %}
        <span class="badge badge-primary">
            <i class="fas fa-star text-white"></i>
            New
        </span>
        {% endif %}
    </h2>
    <!-- Source DATA -->
    <div class="card mb-3">
        <div class="card-header">
            Source: ATIS Data
        </div>
        <div class="card-body">
            <h5 class="card-title">Tokens</h5>
            <p class="card-text border-bottom" id="source_tokens">
                {% if data.source.tokens %}
                {% for item in data.source.tokens.split(" ") %}
                <span class="{{loop.index}}">{{item}}</span>
                {% endfor %}
                {% endif %}
            </p>
            <h5 class="card-title">IOB labels</h5>
            <p class="card-text border-bottom" id="source_labels">
                {% if data.source.labels %}
                {% for item in data.source.labels.split(" ") %}
                <span class="{{loop.index}}">{{item}}</span>
                {% endfor %}
                {% endif %}
            </p>
            <h5 class="card-title">Intent</h5>
            <p class="card-text border-bottom" id="source_intent">
                {{data.source.intent}}
            </p>
        </div>
    </div>

    <!-- TARGET DATA -->
    <div class="card mb-3">
        <div class="card-header">
            Target: ICE-ATIS Data
        </div>
        <div class="card-body">
            <h5 class="card-title">Tokens</h5>
            <p class="card-text border-bottom" id="target_tokens">
                {% if data.target and data.target.tokens %}
                {% for item in data.target.tokens.split() %}
                <span class="{{data.source.tokens|length + loop.index}}">{{item}}</span>
                {% endfor %}
                {% endif %}
            </p>
            <h5 class="card-title">IOB labels</h5>
            <p class="card-text border-bottom" id="target_labels">
                {% if data.target and data.target.labels %}
                {% for item in data.target.labels.split() %}
                <span class="{{data.source.tokens|length + loop.index}}">{{item}}</span>
                {% endfor %}
                {% endif %}
            </p>
            <h5 class="card-title">Intent</h5>
            <p class="card-text border-bottom" id="target_intent">
                {% if data.target %}
                {{data.target.intent}}
                {% endif %}
            </p>
        </div>
    </div>

    
    
    <!-- ANNOTATE SOURCE BUTTON -->
    <div class="row mb-3" id="start_button_div">
        <div class="col-12 level">
            <!-- Default unchecked -->
            <button type="button" id="start_button" class="btn btn-success float-right">Start Annotating</button>

            {% if (not data.target.is_completed and data.target.tokens and data.target.tokens|length > 0 )  %}
            <button type="button" id="confirm_button" class="btn btn-success float-right">Mark As Completed</button>
            {% else %}
            <button type="button" id="confirm_button" class="btn btn-success float-right" style="display: none;">Mark As Completed</button>
            {% endif %}
        </div>
    </div>


    <!-- TRANSLATE TEXT -->
    <div class="row mb-3" id="translated_div" style="visibility:hidden;">
        <div class="col-12">
            <div class="card  mb-3">
                <div class="card-header">
                    Google Translation
                </div>
                <div class="card-body">
                    <p class="card-text" id="translated_text"></p>
                    <label for="translated_tokens_input">Please correct translation if needed:</label>
                    <div class="input-group mb-3">
                        <input type="text" id="translated_tokens_input" class="form-control"
                            name="translated_tokens_input" autocomplete="off">
                    </div>
                    <button type="button" id="label_button" class="btn btn-primary float-right">Label Tokens</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ANNOTATION TABLES -->
    <div class="row mb-3" id="annotation_div" style="visibility:hidden;">
        <div class="col-6">
            <table class="table border z-depth-1">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tokens</th>
                        <th scope="col">Slot Tag</th>
                    </tr>
                </thead>
                <tbody id="annotation_tbody">
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table border z-depth-1">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Source Tokens</th>
                        <th scope="col">Slot Tags</th>
                        <th scope="col">Slot Tag #</th>
                    </tr>
                </thead>
                <tbody id="tags_found_tbody">
                </tbody>
            </table>
        </div>
    </div>

    <!-- SAVE BUTTON -->
    <div class="row  mb-3" id="save_button_div" style="visibility:hidden;">
        <div class="col-12 level" style="height: 50px;">
            <button type="button" id="save_button" class="btn btn-success float-right">
                <span>Save</span>
                <span class="icon">
                    <i class="fas fa-save"></i>
                </span>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/annotate.js') }}"></script>
<script src="{{ url_for('static', filename='js/hover.js') }}"></script>
<script>
    $('document').ready(function () {
        apply_hover_effect();
    });
</script>
{% endblock %}Is Completed