{% extends "base.html" %}

{% block title %}
Home - {{ super() }}
{% endblock %}


{% block content %}
<div class="container mt-3 border">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="text-center">Text Annotation Tool</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 border-bottom">
            <div class="form-group">
                <label for="source_tokens">Tokens</label>
                <input type="text" class="form-control-plaintext" name="source_tokens" id="source_tokens" readonly>
            </div>
            <div class="form-group">
                <label for="source_lables">Lables</label>
                <input type="text" class="form-control-plaintext" name="source_lables" id="source_lables" readonly>
            </div>
            <div class="form-group">
                <label for="source_int">Intent</label>
                <input type="text" class="form-control-plaintext" name="source_int" id="source_int" readonly>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label for="target_tokens">Tokens</label>
            <div class="input-group">
                <input type="text" class="form-control" name="target_tokens" id="target_tokens">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary">Copy Source</button>
                    <button type="button" class="btn btn-primary">Translate</button>
                </div>
            </div>

            <label for="target_lables">Lables</label>
            <div class="input-group">
                <input type="text" class="form-control" name="target_lables" id="target_lables">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary">Autofill</button>
                </div>
            </div>

            <label for="target_int">Intent</label>
            <div class="input-group">
                <input type="text" class="form-control" name="target_int" id="target_int">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary">Autofill</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <button type="button" class="btn btn-info">Back</button>
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-success">Save and Continue</button>
            <button type="button" class="btn btn-info">Next</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
            </div>
            100000/100000
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}